@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Primary Colors */
  --clr-dark-blue: hsl(233, 26%, 24%);
  --clr-lime-green: hsl(136, 65%, 51%);
  --clr-bright-cyan: hsl(192, 70%, 51%);

  /* Neutral Colors */
  --clr-grayish-blue: hsl(233, 8%, 62%);
  --clr-light-grayish-blue: hsl(220, 16%, 96%);
  --clr-very-light-grayish-blue: hsl(0, 0%, 98%);
  --clr-white: hsl(0, 0%, 100%);

  /* Sizes Variables */
  --mobile-screen: 375px;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;
}
body {
  font-family: 'Public Sans', sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

@media (min-width: var(--mobile-screen)) {
}
