@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Primary Colors */
  --clr-dark-blue: hsl(233, 26%, 24%);
  --clr-lime-green: hsl(136, 65%, 51%);
  --clr-bright-cyan: hsl(192, 70%, 51%);

  /* Neutral Colors */
  --clr-grayish-blue: hsl(233, 8%, 62%);
  --clr-light-grayish-blue: hsl(220, 16%, 96%);
  --clr-very-light-grayish-blue: hsl(0, 0%, 98%);
  --clr-white: hsl(0, 0%, 100%);

  /* Sizes Variables */
  --mobile-screen: 375px;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;
}
body {
  font-family: 'Public Sans', sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  text-align: center;
  background-color: var(--clr-very-light-grayish-blue);
}
body.no-scroll {
  overflow: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
ul {
  padding: 0;
  list-style: none;
}
/* Util Classes */
.btn {
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 25px;
}
.btn.btn-cta {
  background: linear-gradient(
    to right,
    var(--clr-lime-green),
    var(--clr-bright-cyan)
  );
  color: var(--clr-white);
  font-weight: var(--fw-700);
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.main_nav {
  position: fixed;
  width: 100%;
}
.logo {
  height: 22px; /* Set the height of the container (the part that will be visible) */
  overflow: hidden; /* Hide the part of the image that exceeds the container */
}
/* Header */
.header {
  display: block;
  background-color: var(--clr-white);
  padding-bottom: 5rem;
  position: relative;
  z-index: -1;
}
/* Header Image */
.header .intro {
  position: absolute;
  z-index: 1;
}
/* Header phones */
.header .mockups {
  position: relative;
  margin-top: -3.5rem;
  z-index: 20;
  padding-inline: 1rem;
}
/* Header Message */
.header .message {
  padding-inline: 1.75rem;
}
.header .message h1 {
  margin-top: 1.5rem;
  font-size: 2.375rem;
  font-weight: var(--fw-400);
  color: var(--clr-dark-blue);
}
.header .message p {
  font-weight: var(--fw-400);
  color: var(--clr-grayish-blue);
  font-size: 14px;
  margin-top: 1rem;
  line-height: 1.5rem;
}
.header .message button {
  margin-top: 2rem;
}
/* Easybank Section */
section.why-choose {
  background-color: var(--clr-light-grayish-blue);
  padding-block: 3.5rem;
}
.why-choose h2 {
  font-size: 2.125rem;
  padding-inline: 1rem;
  font-weight: var(--fw-300);
  color: var(--clr-dark-blue);
}
.why-choose p {
  margin-top: 1.25rem;
  color: var(--clr-grayish-blue);
  font-weight: var(--fw-300);
  font-size: 14px;
  line-height: 1.5rem;
  max-width: 85%;
  margin-inline: auto;
}
.why-choose .why-choose_features {
  margin-top: 3rem;
}
.why-choose .why-choose__feature_item:not(:first-child) {
  margin-top: 3rem;
}
.why-choose .why-choose__feature_item h3 {
  margin-top: 1.5rem;
  font-weight: var(--fw-400);
  color: var(--clr-dark-blue);
}

section.articles {
  display: grid;
  place-content: center;
  gap: 2rem;
  padding-inline: 1.5rem;
  padding-top: 5.25rem;
  background-color: var(--clr-very-light-grayish-blue);
}
.articles img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
}
.articles h2 {
  font-size: 2rem;
  color: var(--clr-dark-blue);
  font-weight: var(--fw-400);
}
.articles__article_item {
  text-align: left;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: var(--clr-white);
  padding-bottom: 3rem;
}
.articles__article_item footer p {
  margin-top: 1.5rem;
  color: var(--clr-grayish-blue);
  font-size: 0.625rem;
}
.articles__article_item h3 {
  margin-top: 0.75rem;
  color: var(--clr-dark-blue);
  font-weight: var(--fw-400);
  font-size: 1rem;
}
.article__content {
  padding-inline: 2rem;
}
.article__content p {
  margin-top: 0.5rem;
  color: var(--clr-grayish-blue);
  font-weight: var(--fw-400);
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.footer {
  background-color: var(--clr-dark-blue);
  margin-top: 6rem;
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
  color: var(--clr-white);
}

.footer__social {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}
.footer__ul {
  /* margin-top: 2.5rem; */
}
.footer__ul li a {
  text-decoration: none;
  color: var(--clr-light-grayish-blue);
  display: block;
  font-size: 0.9rem;
  padding: 0.5rem;
}

.footer_item .btn-cta {
  margin-top: 2rem;
}

.copy {
  margin-top: 2rem;
  color: var(--clr-grayish-blue);
  font-size: 0.9rem;
}
/* Navbar */
@media (max-width: 50rem) {
  .main_nav {
    display: flex;
    background-color: var(--clr-white);
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-inline: 1.75rem;
    padding-block: 1.25rem;
    box-shadow: var(--clr-dark-blue) 0 -3px 10px -3px;
  }
  .btn-toggle {
    background: rgba(100, 100, 100, 0);
    padding: 0.2rem;
    border: none;
    display: flex;
    flex-direction: column;
    width: 2rem;
    gap: 3px;
    overflow: hidden;
  }

  .btn-toggle span {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--clr-grayish-blue);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .btn-toggle.close span:nth-child(2) {
    display: none;
  }
  .btn-toggle.close span:first-child {
    transform: rotate(45deg) translateY(1px) translateX(2px);
  }
  .btn-toggle.close span:last-child {
    transform: rotate(-45deg) translateY(-1px) translateX(2px);
  }
  .main_nav .menu {
    padding: 1.25rem;
    display: block;
    width: 100%;
    background-color: var(--clr-white);
    border-radius: 5px;
    box-shadow: 0 0 10px -10px var(--clr-dark-blue);
    transition: 0.305s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .nav_link {
    display: block;
    text-decoration: none;
    color: var(--clr-dark-blue);
    padding-block: 0.75rem;
  }
  .main_nav .backdrop {
    opacity: 0;
    visibility: hidden;
    padding: 1.5rem;
    z-index: 4000;
    position: absolute;
    width: 100%;
    height: 100svh;
    inset: 0;
    top: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      var(--clr-dark-blue) 0%,
      hsla(0, 0%, 100%, 0) 100%
    );
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .main_nav .backdrop.open {
    opacity: 1;
    visibility: visible;
  }
  .menu {
    position: relative;
    transform: translateY(10rem);
    opacity: 0;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .menu.open {
    transform: translateY(0rem);
    opacity: 1;
  }
}
/* Tablet Screen */
@media (min-width: 50rem) {
  .btn-toggle {
    display: none;
  }
  .main_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid red;
    background-color: aqua;
  }
  .menu {
    display: flex;
  }
  .mockups {
    right: -10.5rem;
  }
  picture.intro {
    transform: translateY(-5rem) translateX(8.5rem);
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-height: 90vw;
    padding-bottom: 0;
  }
  .header .message {
    order: -1;
    width: 60%;
    text-align: left;
  }
  .header .message {
    padding-inline: 0rem;
  }
  .header .message h1 {
    margin-top: 1.5rem;
    font-size: 2.375rem;
    font-weight: var(--fw-400);
    color: var(--clr-dark-blue);
  }
  .header .message p {
    font-weight: var(--fw-400);
    color: var(--clr-grayish-blue);
    font-size: 14px;
    margin-top: 1rem;
    line-height: 1.5rem;
  }
  .container {
    width: 100%;
    padding-inline: 5rem;
    max-width: 80rem;
    margin-inline: auto;
  }
  .btn:hover {
    cursor: pointer;
  }
}
